@tailwind base;
@tailwind components;
@tailwind utilities;

.section {
  @apply w-full max-w-7xl px-6 md:px-10 min-h-[calc(100vh_-_57px)] mx-auto;
}

/* Yin Yang */
.yin-yang {
  width: 50px;
  box-sizing: content-box;
  height: 25px;
  background: #fff;
  border-color: #333;
  border-style: solid;
  border-width: 2px 2px 26px 2px;
  border-radius: 100%;
  position: relative;
}
.yin-yang:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: #fff;
  border: 9.4px solid #333;
  border-radius: 100%;
  width: 6.25px;
  height: 6.25px;
  box-sizing: content-box;
}
.yin-yang:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #333;
  border: 9.4px solid #fff;
  border-radius: 100%;
  width: 6.25px;
  height: 6.25px;
  box-sizing: content-box;
}

/* Space Invader */
.space-invader {
  /* Modify size here: */
  --block-size: 5px;

  box-shadow:
    0 0 0 var(--block-size) #333,
    0 var(--block-size) 0 var(--block-size) #333,
    calc(var(--block-size) * -2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * 0.5) #333,
    calc(var(--block-size) * 2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * 0.5) #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * -3) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * -3) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * -2) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * -2) 0 0 #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * -4) 0 0 0 #333,
    calc(var(--block-size) * -3) 0 0 0 #333,
    calc(var(--block-size) * 3) 0 0 0 #333,
    calc(var(--block-size) * 4) 0 0 0 #333,
    calc(var(--block-size) * -5) var(--block-size) 0 0 #333,
    calc(var(--block-size) * -4) var(--block-size) 0 0 #333,
    calc(var(--block-size) * 4) var(--block-size) 0 0 #333,
    calc(var(--block-size) * 5) var(--block-size) 0 0 #333,
    calc(var(--block-size) * -5) calc(var(--block-size) * 2) 0 0 #333,
    calc(var(--block-size) * 5) calc(var(--block-size) * 2) 0 0 #333,
    calc(var(--block-size) * -5) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * 5) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * 4) 0 0 #333,
    calc(var(--block-size) * -1) calc(var(--block-size) * 4) 0 0 #333,
    var(--block-size) calc(var(--block-size) * 4) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * 4) 0 0 #333;
  background: #333;
  width: var(--block-size);
  height: var(--block-size);
  overflow: hidden;
}

/* Glitch Button (Button-glitch) */
.button-glitch,
.button-glitch:after {
  width: 150px;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ff013c 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-glitch:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'ALTERNATE TEXT';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00e6f6 3%, #00e6f6 5%, #ff013c 5%);
  text-shadow:
    -3px -3px 0px #f8f005,
    3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

.button-glitch:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 768px) {
  .button-glitch,
  .button-glitch:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}

/* Theme Toggle Button */
:after,
:before {
  box-sizing: border-box;
}

.toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.toggle:before {
  content: 'OFF';
  position: absolute;
  left: -56px;
  top: 30px;
  font-size: 18px;
  color: #fff;
}
.toggle:after {
  content: 'ON';
  position: absolute;
  right: -46px;
  top: 30px;
  font-size: 18px;
  color: rgba(253, 15, 21, 0.31);
}
.toggle label {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #fd1015;
  border-radius: 50px;
  cursor: pointer;
  box-shadow:
    inset 0 0 2px 1px rgba(0, 0, 0, 0.1),
    0px 9px 15px 0px #ef4247;
  -webkit-tap-highlight-color: transparent;
}
.toggle label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
  height: 42px;
  width: 42px;
  background-color: #fd0f14;
  border-radius: 46px;
  box-shadow: inset 0px 0px 0px 8px #fff;
}
.toggle input {
  display: none;
}
.toggle input:checked + label {
  background-color: #57de72;
  box-shadow:
    inset 0 0 2px 1px rgba(0, 0, 0, 0.1),
    0px 9px 15px 0px rgba(3, 132, 28, 0.5411764706);
}
.toggle input:checked + label:before {
  width: 10px;
  background-color: #fff;
}

.on {
  background-color: #6fc57c;
}
.on .toggle:before {
  color: rgba(62, 160, 81, 0.89);
}
.on .toggle:after {
  color: #fff;
}
